header, footer, nav, aside {
	background: #3E5964;
	color: #FFFFFF;
	border-style: solid;
  	border-width: 0.3vh;
  	border-color: black;
}

body {
	display:block flex;
	flex-flow: column nowrap;
	position: absolute;
	min-height: 80vh;
}

body.main-page {
	width: 99vw;
}

body.chat {
	width: 98.95vw;
}

body.register {
	width: 100vw;
}

header {
	display: block;
	height: 6vh;
	min-width: 75vw;
	max-width: 80vw;
	border-left: none;
	border-right: none;
	padding-left: 20vw;
	z-index: 2;
}

footer {
	display: block;
	height: 10vh;
	min-width: 80vw;
	max-width: 85vw;
	/*width: 85vw;*/
	border-left: none;
	border-right: none;
	padding-left: 15vw; 
	padding-bottom: 1vh;
	z-index: 2;
}

footer.register {
	position: absolute;
	bottom: 0%;
}

main {
	display: block;
	padding: 7vh 15vw 7vh 15vw;
	background: #FEFCF5;
	min-height: 69vh;
	min-width: 55vw;
	max-width: 75vw;
}

main.register {
	min-height: 54.1vh;
	padding: 7vh 15vw 21vh 15vw;
}

main.main-page {
	max-width: 65vw;
}

nav {
	border-top: none;
	border-left: none;
	position: absolute;
	left: 0;
	z-index: 1;
	display: block flex;
	float: left;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: stretch;
	margin: 0;
	padding: 7vh 0.25vw 0vh 0.25vw;
	width: 12vw;
	min-height: 90vh;
	height: 91%;
	font-size: 0.9em;
}

#nav-Nerwende {
	height: 93%;
}

nav > ul{
	display: block flex;
	flex-flow: column nowrap;
}

form {
	display: block;
	padding: 10px;
	width: 100%;
}

aside{
  position: absolute;
  right: 0;
  top: 	0;
  z-index: 1;
  float: right;
  border-right: none;
  margin: 0;
  padding: 7vh 0.5vw 1vh 0.5vw;
  font-size: 1em;
  height: 91%;
  width: 12vw;
}

a {
	transition: all  0.5s ease-in-out;
}

a:link {
	color: #87C1D9;
	text-decoration: none;
}

a:visited {
	color: #87C1D9;
	text-decoration: none;
}

a:hover {
	border-width: 5px;
	border-color: black;
	border-radius: 5px;
	background: #657880; 
	text-decoration: underline;
	color: black;
	padding: 5px;
}

a:active {
	color: #CD65D9;
}

.img-perso {
	width: 180px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.character-name {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 2em;
}
input:focus {
	border-color: rgba(82, 168, 236, 0.75);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
	
.correct {
	border-color: rgba(68, 191, 68, 0.75);
}
	
.correct:focus {
	border-color: rgba(68, 191, 68, 0.75);
	box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}
	
.incorrect {
	border-color: rgba(191, 68, 68, 0.75);
}
	
.incorrect:focus {
	border-color: rgba(191, 68, 68, 0.75);
	box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}
	
.help {
	display: inline-block;
	color: rgb(200, 0, 0);
	margin-left: 20px;
	padding: 2px 4px;
	border: 1px solid #000;
	background-color: #CCC;
	border-radius: 4px;
}

#msg {
	font-size: 1.5em;
	padding: 0px 6px 0px 6px;
	border-radius: 6px;
}

.button {
	border-radius: 4px;
	color: #3E5964;
	background: white;
	margin-right: 2px;
}

.button:hover {
	box-shadow: 0 0 5px #0B436B;
}

textarea {
	transition: all  0.3s ease-in-out;
}

textarea:focus {
	/*border-color: #0B436B;*/
	box-shadow: 0 0 5px #0B436B;
	margin-top: 5px;
	margin-bottom: -5px;
}

@media screen and (max-width: 900px) {
	
	header, footer, nav, aside {
		border-style: solid;
	  	border-width: 5px;
	  	border-color: black;
	  	border-right: none;
	  	border-left: none;
	}

	body {
		min-width: 100vw;
		max-width: 100vw;
		font-size: 95%;
	}

	header {
		min-width: 75vw;
		max-width: 95vw;
		padding: 10px 5px 5px 5px;
	}

	footer {
		height: 60px;
		min-width: 75vw;
		max-width: 95vw;
		padding: 10px 5px 10px 5px;
	}

	main {
		min-width: 75vw;
		max-width: 93.2vw;
		display: block;
		padding: 10px 10px 10px 10px;
	}
	main.register {
		position: absolute;
		top: 60px;
		padding: 10px 10px 10px 10px;
	}

	aside {
		position: static;
		padding: 0.5em;
		border-style: solid;
		border-width: 5px;
	  	border-color: black;
	}

	nav {
		position: static;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: stretch;
		width: 95vw;
		min-height: 5vh;
		max-height: 10vh;
		border-bottom: none;
		padding: 10px 5px 10px 5px;
		font-size: 90%;
	}

	nav.register {
		position: absolute;
		height: 60px;
		bottom: 90px;
	}
}